<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  ​  <springProperty scope="context" name="springAppName" source="info.app.name"/>
 	<property name="LOG_PATTERN"
			  value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %yellow(${LOG_LEVEL_PATTERN:-%2p}) %yellow(${PID:- }){magenta} %yellow(---){faint} %yellow([%15.15t]){faint} %yellow(%-40.40logger{39}){cyan} %yellow(:){faint} %msg%n"/>
 	<property name="LOG_PATTERN"
			  value="%msg%n"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" additivity="false">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
 	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>alexa-log.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${LOG_PATTERN}</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>alexa-log.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
 
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>2MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	
  	<!-- <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		  <level>DEBUG</level>
		</filter>
		<log>alexa-application.log</log>		
	</appender> -->

  	<logger name="com.pji.alexa" level="DEBUG" additivity="false">
  		<appender-ref ref="FILE" />
    	<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>